<!--The content below is only a placeholder and can be replaced.-->
<h1 style="text-align:center">
  TEMPSENSOR: 
</h1>

<div style="text-align:center; float: left; width: 20%">
  <p *ngFor="let i of temp">Figure is: {{ i }} </p>
</div>

<div style="float:left">
  <ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="autoScale"
  (select)="onSelect($event)">
</ngx-charts-line-chart>
</div>

